<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>981468579569-jc80dtg0k0boq1fc6qq9jfo3li8mfgut.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.981468579569-jc80dtg0k0boq1fc6qq9jfo3li8mfgut</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>981468579569-ba29u4372o8r5gbq4l6otg88mg9f1r44.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAI1LP7J1JLWtxYY8RRbwH36nj4yuWoHB0</string>
	<key>GCM_SENDER_ID</key>
	<string>981468579569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hotspot.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>hotspot-fa426</string>
	<key>STORAGE_BUCKET</key>
	<string>hotspot-fa426.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981468579569:ios:517f608a302e26b8194b50</string>
</dict>
</plist>